<div class="mt-16 lg:h-screen 2xl:mt-0">
<div id="default-carousel" class="relative w-full 2xl:h-screen" data-carousel="slide">

    <div class="relative h-56 overflow-hidden lg:h-[90vh] 2xl:h-full">

        <div class="duration-1000 ease-in-out" data-carousel-item>
            <div class="absolute top-1/2 z-40 left-1/2 -translate-x-1/2 text-white -translate-y-1/2 text-center 2xl:flex 2xl:flex-col 2xl:gap-5">
                <h1 id="custom-font-family" class="text-xl lg:text-6xl">Welcome to Zhahnelle's Curtains and Beddings</h1>
                <p class="text-[10px] uppercase lg:text-xl">Experience the Perfect Blend of Style and Comfort at Zhahnelle's Curtains and Beddings.</p>
            </div>
            <div class="border-2 block h-screen absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-30" style="background: rgba(0, 0, 0, 0.3);"></div>
            <img src="assets/images/carousel/carousel_1.jpeg" class="opacity-80 absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>

        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
            <div class="absolute top-1/2 z-40 left-1/2 -translate-x-1/2 text-white -translate-y-1/2 text-center 2xl:flex 2xl:flex-col 2xl:gap-5">
                <h1 id="custom-font-family" class="text-xl lg:text-6xl">Explore Premium Quality Home Decor</h1>
                <p class="text-[10px] uppercase lg:text-xl">Discover a world of elegance and sophistication for your living spaces.</p>
            </div>
            <div class="border-2 block h-screen absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-30" style="background: rgba(0, 0, 0, 0.3);"></div>
            <img src="assets/images/carousel/carousel_2.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
 
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
            <div class="absolute top-1/2 z-40 left-1/2 -translate-x-1/2 text-white -translate-y-1/2 text-center 2xl:flex 2xl:flex-col 2xl:gap-5">
                <h1 id="custom-font-family" class="text-xl lg:text-6xl">Transform Your Home with Style</h1>
                <p class="text-[10px] uppercase lg:text-xl">Immerse yourself in a world of luxury and refinement.</p>
            </div>
            <div class="border-2 block h-screen absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-30" style="background: rgba(0, 0, 0, 0.3);"></div>
            <img src="assets/images/carousel/carousel_3.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>

        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
            <div class="absolute top-1/2 z-40 left-1/2 -translate-x-1/2 text-white -translate-y-1/2 text-center 2xl:flex 2xl:flex-col 2xl:gap-5">
                <h1 id="custom-font-family" class="text-xl lg:text-6xl">Enhance Comfort, Elevate Style</h1>
                <p class="text-[10px] uppercase lg:text-xl">Elevate your living spaces with Zhahnelle's</p>
            </div>
            <div class="border-2 block h-screen absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-30" style="background: rgba(0, 0, 0, 0.3);"></div>
            <img src="assets/images/carousel/carousel_4.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>

    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-6 h-1 bg-white/30" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-6 h-1 bg-white/30" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-6 h-1 bg-white/30" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-6 h-1 bg-white/30" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
    </div>

    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-6 h-6 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-6 h-6 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
</div>