<div class="border-t flex flex-col ">
    <div class="flex flex-col md:flex-row md:justify-center">
        <div class="bg-zcb-primary flex flex-row px-10 md:w-1/3 md:justify-center">
            <div class="flex gap-3 flex-col py-4">
                <h3 class="font-bold text-lg mb-2">ZHAHNELLE'S</h3>
                <p>With Zhahnelle's, your home can be a reflection of your unique style and a sanctuary of luxurious relaxation.</p>
                <div class="flex-row flex gap-3 items-center justify-start">
                    <p>Let us be social: </p>
                    <a href="https://www.facebook.com/profile.php?id=100092620121060" class="border p-2 rounded-full hover:bg-zcb-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" height="1em" viewBox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-zcb-primary flex flex-row px-10 md:w-1/3 md:justify-center">
            <div class="flex gap-3 flex-col py-4">
                <h3 class="font-bold text-lg mb-2">Contact Info</h3>
                <p>Mobile: 0930-924-2966</p>
                <p>Mobile: 0992-894-5460</p>
                <p><a title="arianne06dguzman@gmail.com" href="mailto:arianne06dguzman@gmail.com"></a></p>
            </div>
        </div>
    </div>
    <div class="bg-zcb-tertiary text-center text-white/70 px-10 py-4">
        <p class="uppercase text-lg">&copy; 2023 Zhahnelle, all rights reserved</p>
    </div>
</div>