<div
  class="flex flex-col gap-4 w-full md:items-center lg:h-[300px] xl:w-[80%] xl:mx-auto 2xl:h-[450px] 2xl:w-[70%] 2xl:relative group"
  [ngClass]="{ 'md:flex-row': alternate, 'md:flex-row-reverse': !alternate }"
>
  <img
    class="w-full h-full aspect-square object-cover md:w-1/2"
    [src]="imageSrc"
    alt=""
  />
  <p class="md:w-1/2 md:text-xl md:p-4 xl:p-6">{{ description }}</p>
  <div
    id="bg"
    class="hidden h-full absolute w-[calc(50%-.5rem)] top-0 z-30 bg-opacity-40 bg-black 2xl:group-hover:block"
    [ngClass]="{ 'left-0': alternate, 'right-0': !alternate }"
  >
    <a
      class="flex items-center justify-center gap-2 w-fit self-center p-3 rounded-md text-white bg-transparent lg:self-start border-white border hover:bg-zcb-secondary hover:text-black absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
      href="https://www.facebook.com/people/Zhahnelle-s-Curtains-and-Beddings/100092620121060/"
      >Contact Seller<fa-icon [icon]="icon"></fa-icon
    ></a>
  </div>
</div>
