<div class="mt-16 md:mt-0"><app-carousel/></div>
<div
  class="bg-sec-1 w-full h-screen bg-no-repeat bg-right-bottom flex justify-center"
>
  <div class="mt-16 px-10 flex w-full md:flex-row">
    <div
      class="flex flex-col align-center items-start text-center mt-8 md:text-start md:w-[60%] md:gap-6"
    >
      <p id="custom-font-family" class="text-[24px] font-bold md:text-[76px] md:leading-tight">
        Discover a World of Comfort and Style with Our Exquisite Collection
      </p>

      <div class="mt-4 md:w-[60%] md:self-start p-4 flex flex-col gap-6 md:gap-12">
        <p class="text-base italic md:text-2xl">
          Experience the perfect blend of luxury and functionality in every
          thread. Our curtains and beddings are designed to transform your
          living spaces into havens of comfort and style.
        </p>
        <a
          class="flex items-center justify-center gap-2 w-fit self-center p-3 bg-black rounded-md text-white md:self-start"
          routerLink="//products"
          >See products<fa-icon [icon]="icon"></fa-icon></a
        >
      </div>
    </div>
    <!-- <div class="hidden md:flex md:flex-col md:w-[40%] md:mt-8 border-black border-r border-t">
    </div> -->
  </div>
</div>




