<div
  class="bg-sec-1 w-full h-screen bg-no-repeat bg-right-bottom flex justify-center md:h-[50vh] lg:h-screen"
>
  <div class="mt-16 px-10 flex w-full xl:flex-row">
    <div
      class="flex flex-col align-center items-start text-center mt-8 lg:text-start lg:w-[60%] lg:gap-6"
    >
      <p id="custom-font-family" class="text-[24px] font-bold md:text-[40px] md:leading-tight xl:text-[70px] xl:leading-tight 2xl:text-[76px] 2xl:leading-tight">
        Discover a World of Comfort and Style with Our Exquisite Collection
      </p>

      <div class="mt-4 lg:w-[60%] lg:self-start p-4 flex flex-col gap-6 lg:gap-12">
        <p class="text-base italic xl:text-2xl">
          Experience the perfect blend of luxury and functionality in every
          thread. Our curtains and beddings are designed to transform your
          living spaces into havens of comfort and style.
        </p>
        <a
          class="flex items-center justify-center gap-2 w-fit self-center p-3  rounded-md text-white bg-black lg:self-start hover:bg-zcb-tertiary hover:text-white"
          routerLink="//products"
          >See products<fa-icon [icon]="icon"></fa-icon></a
        >
      </div>
    </div>
  </div>
</div>